.Header-nav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 146px;
    padding-right: 146px;
}
.Header-nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 17px;
}
.Header-nav a:hover{
    color: blue;
}